// Bootstrap source
@import "background-variant";
@import "variables";

@import "xray-debug";

/* Cursor for anchors with no hrefs */

a {
  cursor:pointer;
}


/* Left Organizer */

.organizer-section-header {
	color: #777;
}
.table-hover td {
	padding-left: 1em !important;
}

.table-hover .active td {
	/*background: #d8d8d8 !important;*/
}

.scene-trigger, .scene-title, .game_objects .edit, table td {
	cursor: pointer;
}

table th {
 cursor: default;
}


/* Long unbreakable names */

.media-organizer {
	overflow-x: hidden;
}


/* Navbar */
.aris-nav li {
	text-align: center;
}
.nav-name-wrapper {
	display: inline-block;
}
@media (max-width: 767px) {
	.aris-nav li {
		text-align: left !important;
	}
}

@media (min-width: 768px) and (max-width: 880px) {
	.nav-name {
		display: none !important;
	}
}
@media (min-width: 881px) and (max-width: 960px) {
	.nav-name {
		font-size: 80%;
	}
	.nav-name-wrapper {
		display: block;
	}
	body {
		padding-top: 70px !important;
	}
}
@media (min-width: 961px) and (max-width: 1100px) {
	.nav-name-wrapper {
		display: block;
	}
	body {
		padding-top: 70px !important;
	}
}


/* Active bootstrap list item as a button */

a.list-group-item.active:hover {
  background-color: #3276b1;
  border-color: #285e8e;
}

.nowrap {
	white-space: nowrap;
}

.absolute {
	/* Disabled for demo */
	/* position: absolute; */
	margin-top: 0;
	margin-left: 0;
	height: 100%;
	width: 100%;
}

.aris-logo {
	img {
		height: 40px;
		margin: 5px 10px;
	}
}


/* Full height editing */

html, body, .full-height {
	height: 100%;
	overflow: hidden;
}

body {
	padding-top: 50px;
	background: #f6f6f6;
}


/* Scene editor */

#main .scenes {
	.absolute;
	z-index: 2;
	padding: 2em;
}

/* Remove bootstraps gutter */

#info, #list {
  padding-right: 15px;
  padding-left: 15px;
  overflow: auto;
}

/* Shadows */

nav, .scene-panel, .script-panel, .script-option-panel, .media-editor .thumbnail {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* Shaded Backgrounds */

#main .scenes, .media-editor, .conversation-editor {
	background: rgba(175, 175, 175, 0.5);
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}

.scene-panel:hover {
	.panel-heading {
		color: #428bca;
		background: #ddd !important;
	}
	.new-trigger {
		color: #428bca;
		background: #ddd !important;
	}
}

.scenes-overlay {
	.absolute;
	z-index: 20;

	pointer-events: none;
}

.scene-panel {
	max-width: 100%;
	float: left;
	margin: 0.5em;

	color: #555;

	.scene-title {
		color: #777;
		white-space: nowrap;
		overflow: hidden;
		font-size: 125%;
		margin-right: 0.5em;
	}

	.new-trigger {
		position: absolute;
		right: 0;
		top: 0px;
		margin: 0.5em;
		padding: 0.5em;
		background: @panel-default-heading-bg;
	}
}

.scene-triggers {
	margin-bottom: 0;

	.item-icon {
		text-align: center;
	}

	.item-label {
		margin: 0;
	}

	.scene-trigger {
		position: relative;

		height: 55px;
		width: 75px;
		overflow: hidden;
		text-align: center;
		white-space: nowrap;
	}
	.scene-trigger:hover {
		color: #428bca;
	}
}

.new-scene-button {
	float: right;
	z-index: 2;
}

.empty_scene {
	padding: 0 0.5em;
	text-align: center;
}


/* Side editor */

/* Hidden ID on editor heading */
.object-id {
	visibility: hidden;
}
h4:hover .object-id {
	visibility: visible;
}


/* Hide radio inputs */

.trigger-types input, .item-types input, .trigger-trigger_on_enter input, .factory-trigger_on_enter input, .published-toggle input {
	display: none;
}


/* QR code fit to side editor */

.qr_image img {
	padding-top: 1em;
	width: 100%;
}


/* Narrow editor panels */

.shrink-center {
	width: 430px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}


/* Media */

.thumbnail .caption {
	padding-top: 0;
	padding-bottom: 0;

	p, div, h4 {
		white-space: nowrap;
		overflow: hidden;
	}
}

.thumbnail.small img {
	width: 96px;
	height: 96px;
}

.thumbnail.tiny img {
	width: 48px;
	height: 48px;
}

/* TODO temporarily unused, bootstrap used instead */
.media-editor .aris-media-thumbnail {
	display: inline-block;
	position: relative;
	width: 25%;
	padding: 1em;
	padding-bottom: 30%;
	margin-bottom: 1em;
	height: 0;
	.media-thumbnail {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
	}
	.caption {
		display: inline-block;
		position: relative;
	}
	p {
		overflow: hidden;
	}

	div.image {
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: contain !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
	}
}

.upload-preview {
	max-width: 100%;
	max-height: 45%;
}

.media-editor .media-drop-target {
	padding: 2em 1em;
}

.media-drop-target.media-hover {
	background: rgba(0,0,0,0.25);
}


/* Media Selector */

.media-chooser {
	max-height: 600px;
	overflow-x: hidden;
	overflow-y: scroll;

	.chooser-thumbnail {
		display: inline-block;
	}
	.choose {
		border: 2px solid rgba(0,0,0,0);
		border-radius: 5px;
		margin: 5px;
		img {
			border-radius: 5px;
		}
	}
	.choose:hover {
		border: 2px solid #999;
		img {
			opacity: 0.5;
			cursor: pointer;
		}
	}
}

.thumbnail {
	cursor: pointer;
}

.thumbnail img {
	border-radius: 3px;
	height: 128px;
	width: 128px;
}

.thumbnail:hover {
	background: #eee;
}

/* Event Editor */
.events-editor, .quest-editor, .media-editor, .object-editor, .games-list-container {
	.padded, .event-table-header div, .event-table-header label {
		padding-right: 15px;
		padding-left: 15px;
	}
	.padded-small {
		padding-right: 5px;
		padding-left: 5px;
	}
}

/* Requirements Editor */
.games-list,.and-package-editor {
	.list-group {
		margin-bottom: 10px;
	}
}

/* Scrolling for tall areas */
.scenes, .media-editor, .media-editor .media-drop-target, .quests-editor, .conversation-editor, .conversations-editor, .games-list-container, .notes-editor  {
	height: 100%;
	overflow-x: auto;
}


/* Conversation Editor */
.conversation-editor {
	padding: 2em;
	text-align: center;
}

.conversation-button, .script-option-panel, .script-panel {
	cursor: pointer;
}

.script-option-panel:hover {
	border: 1px solid rgba(0,0,0, 0.5);
}

.script-panel:hover {
	border: 1px solid rgba(0,0,0, 0.5);
}

// FIXME use bootstrap buttons
.conversation-button {
	color: #333;
}

.conversation-button:hover {
	color: #428bca;
}

/* Jquery pan/zoom */
.conversation-editor, .conversation_pan_region {
	position: relative;
}

.intro_script_region {
	display: inline-block;
}


.script_options {
	white-space: nowrap;

	.script_option {
		vertical-align: top;
		min-width: 300px;
		display: inline-block;
	}

	.script_option + .script_option {
		margin-left: 100px;
	}
}

/* Modal spacing */

.modal-dialog {
	margin-top: 100px !important;
}

.aris-alert {
	top: 25px;
	position: absolute;
	left: 50%;
	z-index: 9000;
}


/* Game Editor */

/* Panel Toggle markers */

.panel-heading .panel-title a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.panel-heading .panel-title.collapsed a:after {
    content: "\e080";
}
.panel-heading a {
	display: block;
}


.published-toggle label {
	opacity: 0.75;
}

.published-toggle label.active {
	opacity: 1.0;
}


/* Deletable Lists */


.list-group-item .remove {
	visibility: hidden;
	cursor: pointer;
}
.list-group-item:hover .remove {
	visibility: inherit;
}


/* Notes View */
.notes-editor {
	.thumbnail {
		margin: 0;
		margin-right: 10px;
	}
	.list-group-item {
		padding: 10px;
	}
}
