.x-ray-backbone-view {
  border: 1px solid blue;
  margin: 2px;
  overflow: hidden;
}
.x-ray-backbone-view .x-ray-view-template-name {
  color: red;
}
.nowrap {
  white-space: nowrap;
}
.absolute {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  height: 500px;
  width: 100%;
}
#info {
  padding-left: 1em;
}
.scenes {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  height: 500px;
  width: 100%;
  z-index: 2;
  padding: 2em;
}
.scenes-overlay {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  height: 500px;
  width: 100%;
  z-index: 20;
  pointer-events: none;
  /*background: rgba(255,0,255,0.5);*/
}
.scene-background {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  height: 500px;
  width: 100%;
  background: #333333;
}
.scene {
  position: relative;
  z-index: 10;
  float: left;
  border: 1px solid #323232;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0.5em;
  background: #ffffff;
  width: 200px;
}
.scene h4.name {
  border-bottom: 1px solid grey;
  overflow: hidden;
  margin-top: 0;
  float: left;
}
.scene .new-item-button {
  float: right;
}
.new-scene,
.new-item {
  font-size: 125%;
}
.scene-items {
  margin-bottom: 0;
}
.scene-items .item-icon {
  text-align: center;
}
.scene-items .item-label {
  margin: 0;
}
.scene-items .scene-item {
  position: relative;
  z-index: 40;
  height: 55px;
  width: 75px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}
.game-item-info h4 {
  padding-bottom: 0.25em;
  border-bottom: 1px solid grey;
}
.new-scene-button {
  float: right;
  z-index: 2;
}
