// Bootstrap source
@import "background-variant";
@import "variables";

@import "xray-debug";

/* Global */

body {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Cursor for anchors with no hrefs */

a {
  cursor:pointer;
}

.clear {
	clear: both;
}


/* Left Organizer */

.organizer-section-header {
	color: @gray-light;
}
.table-hover td {
	padding-left: 1em !important;
}

.table-hover > tbody > tr:hover {
  background-color: @navbar-default-toggle-hover-bg !important;
}

.table-hover .active td {
	/*background: #d8d8d8 !important;*/
}

.scene-trigger, .scene-title, .game_objects .edit, table td {
	cursor: pointer;
}

table th {
 cursor: default;
}

table.organizer {
	thead {
		th {
			position: relative;
			padding-right: 1.75em;
		}
	}
	.new {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.5em;
	}
}


/* Long unbreakable names */

.media-organizer {
	overflow-x: hidden;
}

.ar_target-organizer {
	overflow-x: hidden;
}


/* Navbar */
.aris-nav li {
	text-align: center;
}
.nav-name-wrapper {
	display: inline-block;
}
@media (max-width: 867px) {
	.aris-nav li {
		text-align: left !important;
	}
}

@media (min-width: 868px) and (max-width: 980px) {
	.nav-name {
		display: none !important;
	}
}
@media (min-width: 981px) and (max-width: 1060px) {
	.nav-name {
		font-size: 80%;
	}
	.nav-name-wrapper {
		display: block;
	}
	body {
		padding-top: 70px !important;
	}
}
@media (min-width: 1061px) and (max-width: 1200px) {
	.nav-name-wrapper {
		display: block;
	}
	body {
		padding-top: 70px !important;
	}
}


/* Active bootstrap list item as a button */

a.list-group-item.active:hover {
  background-color: darken(@list-group-active-bg, 8%);
  border-color: darken(@list-group-active-bg, 17%);
}

.nowrap {
	white-space: nowrap;
}

.absolute {
	/* Disabled for demo */
	/* position: absolute; */
	margin-top: 0;
	margin-left: 0;
	height: 100%;
	width: 100%;
}

.aris-logo {
	img {
		height: 40px;
		margin: 5px 10px;
	}
}


/* Full height editing */

html, body, .full-height {
	height: 100%;
	overflow: hidden;
}

body {
	padding-top: 50px;
	background:  darken(@body-bg, 3.5%);
}


/* Scene editor */

#main .scenes {
	.absolute;
	overflow: hidden;
}

#main .scenes .scenes-inner {
	.absolute;
	position: absolute;
	overflow: visible;
	width: 3000px;
	height: 3000px;
}

#main .scenes .scenes-links {
	.absolute;
	position: absolute;
	z-index: 990;
	pointer-events: none;
	overflow: visible;
}

#main .scenes .scenes-link {
	stroke: rgb(101,184,34);
	stroke-width: 3px;
	stroke-linecap: round;
}

/* Remove bootstraps gutter */

#info, #list {
  padding-right: 15px;
  padding-left: 15px;
  overflow: auto;
}

/* Shadows */

nav, .scene-panel, .script-panel, .script-option-panel, .media-editor .thumbnail {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* Shaded Backgrounds */

#main .scenes, .media-editor, .conversation-editor {
	background: rgba(175, 175, 175, 0.5);
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}

#main .scenes {
	background: rgb(160, 160, 160);
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}

#main .scenes-inner {
	background: rgb(211, 211, 211);
}

.scene-panel.panel-default:hover {
	.panel-heading {
		background: darken(@panel-default-heading-bg, 5%) !important;
	}
}

.scene-panel.panel-info:hover {
	.panel-heading {
		background: darken(@panel-info-heading-bg, 5%) !important;
	}
	border-color: darken(@panel-info-border, 5%) !important;
}

.scene-panel.panel-default {
	.scene-title {
		color: @gray-light;

		.intro_icon {
			top: 3px; // Center it
		}
	}
}

.scene-panel {
	max-width: 640px;
	margin: 0.5em;

	.panel-body {
		color: @gray;
	}

	.scene-title {
		white-space: nowrap;
		overflow: hidden;
		font-size: 125%;
		margin-right: 1em;
	}


	.new-trigger {
		position: absolute;
		right: 0;
		top: 0px;
		margin: 0.5em;
		padding: 0.5em;
	}
}

.scene-triggers {
	margin-bottom: 0;

	.scene-trigger {
		position: relative;

		height: 55px;
		width: 75px;
		overflow: hidden;
		text-align: center;
		white-space: nowrap;
		padding-top: 5px;

		.trigger-label {
			overflow: hidden;
		}
	}

	.scene-trigger:hover {
		color: @brand-primary;
		//background: @gray-lighter;
		//border-radius: @border-radius-base;
	}
}

.new-scene-button {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 991;
}

.minimap {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 150px;
	height: 150px;
	background-color: rgba(255,255,255,0.75);
	border: 1px solid rgba(0,0,0,0.7);
	z-index: 992;
}

.minimap-viewport {
	position: absolute;
	background-color: rgba(255,0,50,0.6);
}

.minimap-scene {
	position: absolute;
	background-color: rgba(0,50,255,0.6);
}

.empty_scene {
	padding: 0 0.5em;
	text-align: center;
}


/* Side editor */

/* Hidden ID on editor heading */
.object-id {
	visibility: hidden;
}
h5:hover .object-id, h4:hover .object-id {
	visibility: visible;
}


/* Padded hover checks */

.checkbox {
	padding: 0;
	border-radius: @border-radius-base;
	background: #eee;

	label {
		padding: 0.5em;
		width: 100%;
		vertical-align: middle;
	}

	input {
		display: none;
	}
}

.checkbox input + label:before {
	display: inline-block;
	position: relative;
	top: 1px;
	padding: 0.25em;
	margin-right: 0.25em;

	color: #fff;
	background: #fff;

	border: 1px solid @input-border;
	border-radius: @border-radius-base;

	font-family: 'Glyphicons Halflings';
	line-height: 1;

	content: "\e013";

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.checkbox input:checked + label:before {
	color: #fff;
	background: @brand-info;
	border-color: darken(@brand-info, 17%);
}

.checkbox:hover {
	background: #ddd;
}

/* Hide radio inputs */

.trigger-types input, .item-types input, .trigger-trigger_on_enter input, .factory-trigger_on_enter input, .published-toggle input {
	display: none;
}


/* QR code fit to side editor */

.qr_image img, .qr_image_locked img, .log_out_qr_image img {
	padding-top: 1em;
	width: 100%;
}

.qr_instructions {
	text-align: center;
	margin-top: 20px;
}

.locked_codes {
	background-color: #ddd;
}


/* Narrow editor panels */

.shrink-center {
	max-width: 430px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}


/* Media */
.thumbnail {
	border: 1px solid rgba(0,0,0,0);
}

.thumbnail .caption {
	padding-top: 0;
	padding-bottom: 0;

	p, div, h4 {
		white-space: nowrap;
		overflow: hidden;
	}
}

.thumbnail.small img {
	width: 96px;
	height: 96px;
}

.thumbnail.tiny img, .media-object.tiny {
	width: 48px;
	height: 48px;
}

/* TODO temporarily unused, bootstrap used instead */
.media-editor .aris-media-thumbnail {
	display: inline-block;
	position: relative;
	width: 25%;
	padding: 1em;
	padding-bottom: 30%;
	margin-bottom: 1em;
	height: 0;
	.media-thumbnail {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
	}
	.caption {
		display: inline-block;
		position: relative;
	}
	p {
		overflow: hidden;
	}

	div.image {
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: contain !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
	}
}

.upload-preview {
	max-width: 100%;
	max-height: 45%;
}

.media-editor .media-drop-target {
	padding: 2em 1em;
}

.media-drop-target.media-hover {
	background: rgba(0,0,0,0.25);
}

.ar_target-editor {
	height: 100%;
	overflow-y: auto;
}

.ar_target-editor .ar_target-drop-target {
	padding: 2em 1em;
}

.ar_target-drop-target.ar_target-hover {
	background: rgba(0,0,0,0.25);
}


/* Media Selector */

.thumbnail.choose.selected {
	background: @panel-info-heading-bg;

	.caption {
		color: @panel-info-text;
	}
}

.thumbnail {
	cursor: pointer;
}

.thumbnail img {
	border-radius: @border-radius-small;
	height: 128px;
	width: 128px;
}

.thumbnail.editor:hover, .thumbnail.choose:hover, .thumbnail.change-icon:hover, .thumbnail.change-media:hover  {
	background: @gray-lighter;
}

/* Event Editor */
.events-editor, .quest-editor, .media-editor, .object-editor, .games-list-container {
	.event-table-header div, .event-table-header label {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.padded {
	padding-right: 15px;
	padding-left: 15px;
}
.padded-small {
	padding-right: 5px;
	padding-left: 5px;
}

/* Requirements Editor */
.and-package-editor {
	.list-group {
		margin-bottom: 10px;
		.list-group-item:not(:last-child):after {
			content: "AND";
			text-align: center;
			display: block;
			width: 100%;
			font-weight: bold;
		}
	}
}
.and_packages > div:not(:last-child):after {
	content: "OR";
	text-align: center;
	display: block;
	width: 100%;
	font-weight: bold;
	margin-bottom: 20px;
}

/* Scrolling for tall areas */
.scenes, .media-editor, .media-editor .media-drop-target, .ar_target-editor .ar_target-drop-target, .quests-editor, .conversation-editor, .conversations-editor, .games-list-container, .notes-editor, .tabs-editor, .scroll-area {
	height: 100%;
	overflow-x: auto;
}


/* Conversation Editor */
.conversation-editor {
	padding: 2em;
	text-align: center;
}

.conversation-button, .script-option-panel, .script-panel {
	cursor: pointer;
}

.script-option-panel:hover {
	border: 1px solid rgba(0,0,0, 0.5);
}

.script-panel:hover {
	border: 1px solid rgba(0,0,0, 0.5);
}

// FIXME use bootstrap buttons
.conversation-button {
	color: @gray-dark;
}

.conversation-button:hover {
	color: @brand-primary;
}

/* Jquery pan/zoom */
.conversation-editor, .conversation_pan_region {
	position: relative;
}

.intro_script_region {
	display: inline-block;
}


.script_options {
	white-space: nowrap;

	.script_option {
		vertical-align: top;
		min-width: 300px;
		display: inline-block;
	}

	.script_option + .script_option {
		margin-left: 100px;
	}
}

/* Modal spacing */

.modal-backdrop {
	z-index: 993;
}

.modal-dialog {
	z-index: 994;
	margin-top: 100px !important;
}

.aris-alert {
	top: 25px;
	position: absolute;
	left: 50%;
	z-index: 9000;
}


/* Game Editor */

/* Panel Toggle markers */

.panel-heading .panel-title a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.panel-heading .panel-title.collapsed a:after {
    content: "\e080";
}
.panel-heading a {
	display: block;
}


.published-toggle label {
	opacity: 0.75;
}

.published-toggle label.active {
	opacity: 1.0;
}


/* Deletable Lists */


.list-group-item .remove {
	visibility: hidden;
	cursor: pointer;
}
.list-group-item:hover .remove {
	visibility: inherit;
}


/* Notes View */
.notes-editor {
	.thumbnail {
		margin: 0;
		margin-left: 10px;
	}
	.list-group-item {
		padding: 10px;

		blockquote {
			margin-bottom: 10px;
		}
	}
}

/* Helpers */

.addon-bg-info {
	background: @state-info-bg;
}

.well {
	background: darken(@well-bg, 5%);
	padding-top: 12px;
}

.form-inline {
	margin-top: 5px;
	margin-bottom: 5px;
}

#user.navbar-right {
	margin-right: 0; // Fix bootstrap 3.3 padding issue
}


/* List styling */

.well {
	.list-group {
		margin-bottom: 0;
	}

	& > h4 {
		margin-top: 0;
		text-align: center;
		color: @gray;
	}

	form {
		margin: 0;
	}

	/* Line rendering */
	& > h4 {
		position: relative;
		z-index: 1;
		overflow: hidden;
		line-height: 1.2;

		span {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
	}
	& > h4:before, & > h4:after {
		position: absolute;
		top: 51%;
		overflow: hidden;
		width: 50%;
		height: 1px;
		content: '\a0';
		border-top: 2px solid #ddd;
	}
	& > h4:before {
		margin-left: -50%;
		text-align: right;
	}
}


/* Game list */

.games-list-container {
	.description {
		color: @gray-light;
	}

	.media-body {
		width: 10000px; /* Missing from bootstrap version */
	}

	.migration_games {
		.migrated-badge {
			line-height: 1;
			border-radius: @border-radius-base;
			min-width: 2em;
			padding: 0.5em;
			text-align: center;
			display: inline-block;
			color: @btn-primary-bg;
			background: @btn-primary-color;
			border: 1px solid @btn-primary-bg;
		}

		.migrating-badge {
			line-height: 1;
			border-radius: @border-radius-base;
			min-width: 2em;
			padding: 0.5em;
			text-align: center;
			display: inline-block;
			background: @btn-primary-bg;
			color: @btn-primary-color;
		}

		.previously_migrated {
			img {
				opacity: 0.75;
			}
			.media-heading {
				color: lighten(@gray, 25%);
			}
			.description {
				color: lighten(@gray-light, 25%);
			}
		}
	}
}

@keyframes migrating-spin {
  0% {
    transform-origin: 100% 100%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 100% 100%;
    transform: rotate(360deg);
  }
}

@-webkit-keyframes migrating-spin {
  0% {
    transform-origin: 100% 100%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 100% 100%;
    transform: rotate(360deg);
  }
}


/* Cool loading spinner, credit http://codepen.io/Erik/pen/cslHn */
.migrating-spinner {
  position: relative;
  display: block;
  z-index: 13;
  margin: 15px auto;
  width: 100px;
  height: 100px;
  border: 5px solid darken(@gray-lighter, 15%);
  border-radius: 50%;
  background-color: @gray-dark;

  &:before {
    position: absolute;
    display: block;
    content: '';
    z-index: 12;
    top: 4px;
    left: 4px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: darken(@gray-lighter, 15%);
  }

  &:after {
    position: absolute;
    display: block;
    top: 0;
    content: '';
    z-index: 11;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 45px;
    border-radius: 200px 0 0 0;
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%,@brand-primary 50%,@brand-info 100%);
   	-webkit-animation: migrating-spin 1s linear infinite;
    animation: migrating-spin 1s linear infinite;
  }
}

/* Tab drag and drop */

.quests-editor, .tabs-editor {
	.media {
		margin-right: 1.5em;
	}
}

.tab-drag-handle {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 125%;
	color: @gray-light;
}

.tab-drag-handle:hover {
	color: @brand-primary;
	cursor: row-resize;
}

.tabs .ui-sortable-placeholder
{
	visibility: visible !important;
	border: none;
	background: none;
}


/* Better contrast for radio button test */
.btn-info.inverted {
	color: @btn-info-bg;
	background: @btn-info-color;
	border: 1px solid @btn-info-bg;
}


/* Rounded corner for single button in trigger editor */
.only_button {
	border-radius: @border-radius-small !important;
}

/* Radio SVG buttons */
.radio-images {
	svg {
		width: 38%;
		height: 100%;

		margin-left: 5%;
		margin-right: 5%;

		&:hover .phone-template {
			fill: #ccc  !important;
		}
	}

	label {
		display: inline;
	}

	input {
		display: none;
	}

	input:checked + label .phone-template
	{
		fill: @btn-info-bg !important;
	}

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}


.inference_thumbnail
{
	display: inline-block;
	margin-bottom: 1em;
}


/* These are hacks while jumping from bootstrap 3.3.0 to 3.3.7 */

.col-xs-1:not(.padded), .col-sm-1:not(.padded), .col-md-1:not(.padded), .col-lg-1:not(.padded), .col-xs-2:not(.padded), .col-sm-2:not(.padded), .col-md-2:not(.padded), .col-lg-2:not(.padded), .col-xs-3:not(.padded), .col-sm-3:not(.padded), .col-md-3:not(.padded), .col-lg-3:not(.padded), .col-xs-4:not(.padded), .col-sm-4:not(.padded), .col-md-4:not(.padded), .col-lg-4:not(.padded), .col-xs-5:not(.padded), .col-sm-5:not(.padded), .col-md-5:not(.padded), .col-lg-5:not(.padded), .col-xs-6:not(.padded), .col-sm-6:not(.padded), .col-md-6:not(.padded), .col-lg-6:not(.padded), .col-xs-7:not(.padded), .col-sm-7:not(.padded), .col-md-7:not(.padded), .col-lg-7:not(.padded), .col-xs-8:not(.padded), .col-sm-8:not(.padded), .col-md-8:not(.padded), .col-lg-8:not(.padded), .col-xs-9:not(.padded), .col-sm-9:not(.padded), .col-md-9:not(.padded), .col-lg-9:not(.padded), .col-xs-10:not(.padded), .col-sm-10:not(.padded), .col-md-10:not(.padded), .col-lg-10:not(.padded), .col-xs-11:not(.padded), .col-sm-11:not(.padded), .col-md-11:not(.padded), .col-lg-11:not(.padded), .col-xs-12:not(.padded), .col-sm-12:not(.padded), .col-md-12:not(.padded), .col-lg-12:not(.padded) {
  padding-right: 0;
  padding-left: 0;
}

.navbar-fixed-top {
	z-index: 992;
}
